<head>
    <title>Snake</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
</head>
  <body>
		<p class="left"><%= link_to("TIC TAC TOE", "/") %> |  <%= link_to("TOWERS OF HANOI", "/hanoi")%> | 
			<%= link_to("SNAKE", "/snake") %></p>
		<div class="snake-game">
			<h1> Snake </h1>
			<p> Directions: Use the arrow keys to move the snake (green) to get the apple (red)</p>
			<div class="snake-score">Score: </div>
   	 	<div id="snake-grid"></div>
		</div>
    <script>
      $(function () { new SG.View($("#snake-grid"), $(".snake-score")).start(); });
    </script>
  </body>
